body {
    background-color: rgba(245, 244, 250, 1);
    color: rgba(117, 117, 117, 1);
    font-family: 'Roboto';
    font-style: normal;
    
}

/* Header */
.header {
    background-color: rgba(236, 236, 236, 1);
}

    /* Logo */
.logo {
    font-weight: 700;
   
    line-height: 31;
}

.logo-2 {
    color: rgba(0, 0, 0, 0.986);
}

.logo-1 {
    color: rgba(33, 150, 243, 1);
}
/* Link */
.header-list{
list-style: none;
}
.header-link-1,
.header-link-2,
.header-link{
    font-weight: 500;
    line-height: 16;
}
.header-link-2 {
    color: rgba(33, 150, 243, 1);
}

.header-link {
    color: rgba(33, 33, 33, 1);
}
/* Contacts */
.header-contacts{
    list-style: none;
}
.header-e-mail {
    color: rgba(117, 117, 117, 1);
    font-weight: 500;
   
    line-height: 16;
    
}
.header-tel {
    color: rgba(117, 117, 117, 1);
    font-weight: 500;
   
    line-height: 16;
    
}
.filters{

}
.filters-list{
    list-style: none;
}
.filters-btm{
background-color: rgba(245, 244, 250, 1);
cursor: pointer;
}

.filters-btm-active{
background-color: rgba(33, 150, 243, 1);
}




/* Footer */
.footer {
    background-color: rgba(47, 48, 58, 1);
}

.footer-logo-1 {
    color: rgba(33, 150, 243, 1);
}

.footer-logo-2 {
    color: rgba(0, 0, 0, 1);
}
.footer-list{
    list-style: none;
}
.footer-link-1 {
    color: rgba(255, 255, 255, 1);
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
}