body {
    background-color: rgba(245, 244, 250, 1);
    color: rgba(117, 117, 117, 1);
}
/* Header */
.header {
   background-color: rgba(236, 236, 236, 1); 
}
/* Logo */
.logo{ 

}
.logo-2 {
    color: rgba(0, 0, 0, 0.986);}
.logo-1 {
    color: rgba(33, 150, 243, 1);
}
.header-list,
.header-contacts{
    list-style: none;
}
.header-link-1 {
    color: rgba(33, 150, 243, 1) ;
}
.header-link {
    color:rgba(33, 33, 33, 1) ;
}
.header-e-mail{
    color: rgba(33, 150, 243, 1);
}
.header-tel{
    color: rgba(117, 117, 117, 1);
}
/* Hero */
.hero{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(47, 48, 58, 1);
}
.hero-btn{
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 1);
}

/* specialty */
.specialty{
    }
.specialty-title{ color: rgba(245, 244, 250, 1);}
.specialty-list{
    list-style: none;
}
.specialty-subtitle {
    color: rgba(33, 33, 33, 1);}
.specialty-text{
    color: rgba(117, 117, 117, 1);
}
/* Case */
.case{

}
.case-title{
    color: rgba(33, 33, 33, 1);
}
.case-list{
    list-style: none;
}
/* Team */
.team{

}
.team-list{
    
}
.team-item-1,
.team-item-2,
.team-item-3,
.team-item-4{
    background-color: rgba(255, 255, 255, 1);
    list-style: none;
}
.team-title,
.team-subtitle-1,
.team-subtitle-2,
.team-subtitle-3,
.team-subtitle-4{
    color: rgba(33, 33, 33, 1);
}
.team-specialty-1,
.team-specialty-2,
.team-specialty-3,
.team-specialty-4{
    color: rgba(117, 117, 117, 1)   ;
}
/* Footer */
.footer{
    background-color: rgba(47, 48, 58, 1);
}
.footer-logo-1{
color:rgba(33, 150, 243, 1) ;
}
.footer-logo-2{
color: rgba(0, 0, 0, 1);
}
.footer-list{
    list-style: none;
}
.footer-link-1{
    color: rgba(255, 255, 255, 1);
}
.footer-link{
    color: rgba(255, 255, 255, 0.6);
}